@import url(https://fonts.googleapis.com/css?family=Pacifico);
body{
  font-family: 'Pacifico', cursive;
  overflow: hidden;
  color: #fff;
}
.bgoverlay{
  background: rgb(103,58,183);
  background: rgba(103,58,183,0.7);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.container{
  position: relative;
  margin: 120px auto 0 auto;
  width: 320px;
}
.ico{
  display: block;
  width: 320px;
  height: 320px;
}
.open .ico{
  animation: open 4s;
  transform: scale(10);
}
.ico .title{
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -95px;
  margin-top: -73px;
  line-height: 40px;
  z-index: 4;
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.open .ico .title{
  opacity: 0;
  transition: all 0.3s ease;
  top:-100px;
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after{
  position: absolute;
  top:0;
  left:0;
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after{
  display: inline-block;
  font-size: 20em;
  content: "\f004";
  color: #ff4081;
  font-family: "Font Awesome 5 Free";
  /* text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
.ico2:before,
.ico2:after{
  color: #e91e63;
}
.ico:before{
  z-index: 3;
}
.ico:after{
  animation: explode 4s infinite;
}


.ico2:before{
  animation: explodeSmall 3s infinite;
}
.ico2:after{
  animation: explodeSmall 2s infinite;
}
.endtext{
  opacity:0;
  position: absolute;
  top:-100px;
  width:100%;
}
.open .endtext{
  top:0;
  opacity: 1;
  animation: show 5s;
}
.endtext .close{
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.endtext h1,
.endtext h2,
.endtext h3{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-align: center;
  font-weight: normal;
}
.endtext h1{
  font-size: 50px;
}
.endtext h2{
  font-size: 30px;
}
.endtext h3{
  font-size: 20px;
}
.comment{
  font-size: 124px;
  position: absolute;
  top: -95px;
  transform: translateX(30%);
}
.comment-text{
  color: #fff;
  font-family: 'Pacifico', cursive;
  position: absolute;
  transform: translateX(-120%) translateY(140%);
  font-size: 28px;
}
.joke{
  display: none;
  top: -38%;
}
.block-center {
width: 0px;
height: 0px;
position: absolute;
left: 50%;
animation: hol 3s linear infinite  ;
}

.block-center div{
position: absolute;
width: 60px;
height: 72px;
border-radius: 0;
border-radius: 80% 60% 0 0;
transform: rotate(-60deg);
}
.block-center div:after{
content: "";
}
.block-center div:before{
content: "";
position: absolute;
height: 100%;
width: 100%;
background: inherit;
transform: rotate(118deg);
border-radius: 50% 80% 0 0;
left: 19%;
top: 30%;
}
.h{
position: absolute;
left: 50%;
width: 120px;
height: 120px;
margin-left: -60px;
z-index: 1;
margin-top: -60px;
animation: h 3s ease infinite alternate;
}
.h div:first-child{
width: 80%;
height: 100%;
transform: rotate(-47deg);
border-radius: 50px 38px 20px 0;
position: absolute;
background:#db3a65;
box-shadow: 10px 0 47px black inset
}
.h div:last-child{
width: 80%;
height: 100%;
background:#db3a65;
transform: rotate(48deg);
border-radius: 80px 118px 0 163px;
position: absolute;
top: 0;
right: 0;
box-shadow: -10px 0 47px black inset
}
@keyframes hol{
0%{
  top: 0px;
  overflow: hidden;
  transform: rotateX(0deg) 
}
50%{
 top: 0px;
 left: 50%;
 height: 0;
 width: 0;
 transform:  translateX(-50% )  
}
90%{
opacity:1
}
100%{
  top: -130px;
  width: 1500px;
  height: 700px;
  transform:  translateX(-50%);
opacity:0
}
}
@keyframes h{
0%{
  transform:scale(.5)
}
50%{
 transform:scale(1.5) 
}
100%{
 transform:scale(.5) 
}
}

@keyframes explode {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.6);
      opacity: 0;
    }
}
@keyframes explodeSmall {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.2);
      opacity: 0;
    }
}


@keyframes open {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(10);
    }
}

@keyframes show {
    from {
      opacity: 0;
      top: -100px;
    }
    to {
      opacity: 1;
      top:0;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
$scale: 1em;
$bg-color: #0197F6;
$heart-color: #D67380;
$border-color: #fff;
$text-color: #B9C4CE;
$animation-length: 6s;
$pop-color: #B9C4CE;
$pop-distance: 1em;
$pop-time: .4s;

html, body {
    height: 100%;
  }

.wrapper {
  position: relative;
  display: none;
  width: 100%;
  font-size: $scale;
  .pops {
    position: absolute;
    z-index: -1;
    height: 20em;
    width: 80em;
    top: 0;
    left: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  .pop {
    position: absolute;
    transform: scale(3);
    opacity: 0;
    &.first {
      left: 26em;
      top: 8em;
      .circle {
        animation-delay: $animation-length *.19;
      }
      animation-delay: $animation-length *.19;
    }
    
    &.second {
      left: 50em;
      top: 8em;
      .circle {
        animation-delay: $animation-length *.33;
      }
      animation-delay: $animation-length *.33;
    }
    
    &.third {
      left: 25em;
      top: 8em;
      .circle {
        animation-delay: $animation-length *.45;
      }
      animation-delay: $animation-length *.45;
    }
    
    &.fourth {
      left: 50em;
      top: 8em;
      .circle {
        animation-delay: $animation-length *.48;
      }
      animation-delay: $animation-length *.48;
    }
  }
}

.saying {
  margin: auto;
  padding: 3em 3em;
  box-sizing: border-box;
  border-left: 1em solid $border-color;
  border-right: 1em solid $border-color;
  height: 20em;
  overflow: hidden;
  display: flex;
  width: 80em;
  letter-spacing: 1em;
  animation: squeeze $animation-length forwards;
  transition: width 1s;
  position:relative;
  span {
    font-size: 15em;
    font-family:'Roboto Condensed', sans-serif ;
    color: $text-color;
    display: inline-block;
  }
  
  .love {
    animation: hide .001s $animation-length * .18 forwards;
  }
  
  .you {
    animation: hide .001s $animation-length * .35 forwards;
  }
  
  .i {
    animation: hide .001s $animation-length * .5 forwards;
  }

  .heart {
    display: inline-block;
    font-size: 15em;
    color: $heart-color;
    opacity: 0;
    width: 0;
    margin: auto .2em;
    animation: heart $animation-length forwards;
  }
  
  .u {
    visibility: hidden;
    opacity: 0;
    width: 0;
    animation: u $animation-length forwards;
  }

  @keyframes hide {
    to {
      position: absolute; 
      visibility: hidden;
      width: 0;
      height: 0;
      margin: 0 !important;
    }
  }
  
  @keyframes u {
    35%,50.5%,100% {
      position: absolute;
      visibility: hidden;
      opacity: 0;
    }
    36%,50%{
      visibility: visible;
      position: relative;
      opacity: 1;
    }
    
  }
  
  @keyframes heart {
    0%, 17.5% {
      position: absolute;
      visibility: hidden;
      opacity: 0;
      width: 0;
    }
    
    18%{
      position: relative;
      visibility: visible;
      opacity: 1;
      transform: scale(1);
      width: auto;
    }
    
    20%, 35%, 51%{
      transform: scale(1.5);
    }
    
    23%, 34%, 38%, 50%, 54%{
      transform: scale(1);
    }
    
    100% {
      opacity: 1;
      transform: scale(1);
      width: auto;
    }
  }
  
  @keyframes squeeze {
    0% {
      width: 80em;
      letter-spacing: 2em;
    }
    
    18% {
      width: 72em;
      letter-spacing: 1em;
    }
    
    19% {
      width: 65em;
      letter-spacing: -.5em;
    }
     
    30%,32% {
      width: 55em;
      letter-spacing: -1em;
    }
    
    40%,46%{
      width: 39em;
    }
    
    55.5%,100% {
      width: 30em;
      letter-spacing: -1em;
    }
  }
}

.pop {
  width: 10em;
  height: 10em;
  border: .2em solid $pop-color;
  border-radius: 50%;
  animation: pop $pop-time cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
  position: relative;
  
  @keyframes pop {
    0% {
      opacity: .25;
      width: 2em;
      height: 2em;
    }

    30% {
      opacity: 1;
    }

    60% {
      opacity: .66;
      width: 5em;
      height: 5em;
      opacity:.25;
    }

    100% {
      width: 5em;
      height: 5em;
      opacity: 0;
    }
  }
  
  .circle {
    width: 1em;
    height: 1em; 
    border-radius: 50%;
    background-color: $pop-color;
    position: absolute;
    
    @for $j from 1 through 10 {
      $i: $j * 45;

      &.out-#{$i} {
        animation: out-#{$i} $pop-time - .1 cubic-bezier(0.64, 0.57, 0.67, 1.53) forwards;
      }
      @keyframes out-#{$i} {
        from {
          @if $i > 0 and $i <= 180 {
            right: -2em;
          }@else{
            left: -2em;
          }

          @if $i > 90 and $i <= 270 {
            bottom: -2em;
          }@else{
            top: -2em;
          }

        }

        to {
          width: .3em;
          height: .3em; 
          opacity: 0;
          @if $i > 0 and $i <= 180 {
            right: -2em - $pop-distance;
          }@else{
            left: -2em - $pop-distance;
          }

          @if $i > 90 and $i <= 270 {
            bottom: -2em - $pop-distance;
          }@else{
            top: -2em - $pop-distance;
          }
        }
      }
    }
  }
}
.button-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 50px;
}
.next{
    width: 250px;
    height: 50px;
    outline: none;
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    background-color: transparent;
    border: 3px solid rgba(103,58,183,1);
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
}
.next:hover{
    background-color: rgba(103,58,183,0.5);
}
.question{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(50%);
}
.question-btn{
    display: flex;
    justify-content: center;
}
.question-btn button{
    width: 100px;
    height: 55px;
    border: 4px solid #fff;
    background-color: transparent;
    border-radius: 30px;
    margin: 10px; 
    font-family: 'Pacifico', cursive;
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 0;
    outline: none;
}.question-btn button:hover{
    background-color: rgba(103,58,183,0.5);
}
.my-answer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(30%);
}
.face img{
    top: 15%;
    position: absolute;
    width: 300px;
    height: 400px;
    border-radius: 50%;
    left: 15%;
    transform: rotate(-9deg);

}
.face2 img{
    position: absolute;
    top: 20%;
    height: 300px;
    border-radius: 50%;
    right: 12%;
    transform: rotate(95deg);
}
.take-gift{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 65%;
    left: 42%;
}
.take-gift button{
    width: 250px;
    height: 50px;
    font-family: 'Pacifico', cursive;
    font-size: 23px;
    background-color: transparent;
    border: 3px solid rgba(103,58,183,1);
    border-radius: 15px;
    color: #fff;
    cursor: pointer;
    outline: none;
}
.take-gift button:hover{
    background-color: rgba(103,58,183,0.5);
}
div#beach,
canvas#canvas {
	position: absolute;
	top: 0;
	left: 0;
  width: 100%;
  height: 100%;
}

div#beach {
  background-image: url(https://dl.dropbox.com/s/oe0oce2udq44bj5/beachsil2.png);
  /* background-size: cover; */
  background-position: bottom right;
  background-size: 1700px;
    background-repeat: no-repeat;
}

div#video {
  position: absolute;
  right: 243px;
  bottom: 200px;
}

div#video iframe {
  width: 255px;
  height: 155px;
}

#people {
  position: absolute;
  bottom: 65px;
  left: 40px;
  width: 140px;
}

#car {
  position: absolute;
  bottom: 46px;
  left: 180px;
  width: 230px;
}

div#sea {
  background-color: blue;
  height: 85px;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-image:
    radial-gradient(circle at center top, #23485a, #0d0246);
}

.merrywrap{
  position: absolute;
  right: 0px;
  left: 0px;
  bottom: 0px;
  top: 0px;
  background-color: rgba(103,58,183,1);
  transition: background-color .5s ease;
}
.giftbox{
  position: absolute;
  width:300px;
  cursor: pointer;
  height:200px;
  left:50%;
  margin-left: -150px;
  bottom: 40px;
  z-index:10;
  &>div{
    background: #34495e;
    position: absolute;
    &:after,&:before{
      position: absolute;
      content:"";
      top: 0;
    }
  }
  &:after{
    position: absolute;
    color:#fff;
    width:100%;
    content:"Click Me!";
    left: 0;
    bottom: 0;
    font-size: 24px;
    text-align: center;
    transform:rotate(-20deg);
    transform-origin:0 0;
  }
  .cover{
    width:100%;
    top: 0;
    left: 0;
    height:25%;
    z-index:2;
    &:before{
      position: absolute;
      height:100%;
      left: 50%;
      width:50px;  transform:translateX(-50%);
      background:#fdc56d;
    }
    &>div{
      position: absolute;
      width:50px;
      height:50px;
      left:50%;
      top:-50px; transform:translateX(-50%);
      &:before,&:after{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content:"";
        box-shadow:inset 0 0 0 15px #fdc56d;
        border-radius:30px;
        transform-origin:50% 100%;
      }
      &:before{
        transform:translateX(-45%) skewY(40deg);
      }
      &:after{   transform:translateX(45%) skewY(-40deg);
      }
    }
  }
  .box{
    right:5%;
    left:5%;
    height:80%;
    bottom: 0;
    &:before{ 
      width:50px;
      height:100%;
      left:50%;
      transform:translateX(-50%);
      background:#fdc56d;
    }
    &:after{
      width:100%;
      height:30px;
      background:rgba(0,0,0,0.2);
    }
  }
}
.icons{
  position:absolute;
  left: 10px;
  /*top:50%;
  width: 100%;*/
  height: auto; 
  transform:translateY(10px) rotate(-20deg); 
  .row{
    width:100%;
    text-align: center; 
    span{ 
      color: #e5e5e5;
	    text-shadow: 4px 4px 0 rgba(96, 125, 139, 0.4);
      font-size: 50px;   
      display: inline-block;
      opacity:0;
      transition: transform 0.5s ease-in, opacity 0.7s;
    }
  } 
}
.step-1{
  .giftbox{
    animation:wobble 0.5s linear infinite forwards;
  }
  .cover{
     animation:wobble 0.5s linear infinite  0.1s forwards;
  }
  .icons .row span{
    opacity:1;
  }
}
.step-2 .giftbox:after{
  opacity:0;
}
.step-3 .giftbox,
.step-4 .giftbox{
	opacity: 0;
  z-index:1;
  &:after{
    opacity:0;
  }
}
.step-2{
  .giftbox{
    .cover{
      animation:flyUp 0.4s ease-in forwards;
    }
    .box{
      animation:flyDown 0.2s ease-in 0.05s forwards;
    }
  }
}
@keyframes wobble{
  25%{
    transform:rotate(4deg);
  }
  75%{
    transform:rotate(-2deg);
  }
}
@keyframes flyUp{
  75%{
    opacity:1;
  }
  100%{
    transform:translateY(-1000px) rotate(20deg);
    opacity:0;
  }
}
@keyframes flyDown{
  75%{
    opacity:1;
  }
  100%{
    transform:translateY(100%);
    opacity:0;
  }
}
.step-1 .icons .row span{
  opacity:0;
}
.step-1 .icons .row span:first-child { 
	    transform: translateY(700%) translateX(600%);
}
.step-1 .icons .row span:nth-child(2) { 
	    transform: translateY(700%) translateX(500%);
}
.step-1 .icons .row span:nth-child(3) { 
	    transform: translateY(700%) translateX(400%);
}
.step-1 .icons .row span:nth-child(4) { 
	    transform: translateY(700%) translateX(300%);
}
.step-1 .icons .row span:nth-child(5) { 
	    transform: translateY(700%) translateX(200%);
}
.step-1 .icons .row span:nth-child(6) { 
	    transform: translateY(700%) translateX(100%);
}
.step-1 .icons .row span:nth-child(7) { 
	    transform: translateY(700%) translateX(0);
}
.step-1 .icons .row span:nth-child(8) { 
	    transform: translateY(700%) translateX(-100%);
}
.step-1 .icons .row span:nth-child(9) { 
	    transform: translateY(700%) translateX(-200%);
}
.step-1 .icons .row span:nth-child(10) { 
	    transform: translateY(700%) translateX(-300%);
}  
.step-1 .icons .row span:nth-child(11) { 
	    transform: translateY(700%) translateX(-400%);
} 
.step-1 .icons .row span:nth-child(12) { 
	    transform: translateY(700%) translateX(-500%);
} 
.step-1 .icons .row span:nth-child(13) { 
	    transform: translateY(700%) translateX(-600%);
} 
.step-2 .icons .row span:nth-child(2) {
	-webkit-transition-delay: 0.1s;
	transition-delay: 0.1s;
}

.step-2 .icons .row span:nth-child(3) {
	-webkit-transition-delay: 0.15s;
	transition-delay: 0.15s;
}

.step-2 .icons .row span:nth-child(4) {
	-webkit-transition-delay: 0.2s;
	transition-delay: 0.2s;
}

.step-2 .icons .row span:nth-child(5) {
	-webkit-transition-delay: 0.25s;
	transition-delay: 0.25s;
}

.step-2 .icons .row span:nth-child(6) {
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

.step-2 .icons .row span:nth-child(7) {
	-webkit-transition-delay: 0.35s;
	transition-delay: 0.35s;
}
.step-2 .icons .row span:nth-child(8) {
	-webkit-transition-delay: 0.4s;
	transition-delay: 0.4s;
}
.step-2 .icons .row span:nth-child(9) {
	-webkit-transition-delay: 0.45s;
	transition-delay: 0.45s;
}
.step-2 .icons .row span:nth-child(10) {
	-webkit-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.step-2 .icons .row span:nth-child(11) {
	-webkit-transition-delay: 0.55s;
	transition-delay: 0.55s;
}
.step-2 .icons .row span:nth-child(12) {
	-webkit-transition-delay: 0.6s;
	transition-delay: 0.6s;
}
.step-2 .icons .row span:nth-child(13) {
	-webkit-transition-delay: 0.65s;
	transition-delay: 0.65s;
}
.step-2 .icons span,.step-3 .icons span,.step-4 .icons span {
	opacity: 1; 
	transition-timing-function: cubic-bezier(0.000, 0.000, 0.200, 0.910);
}
.step-4 .icons .row span,.step-3 .icons .row span { 
	/*animation: wobble 0.6s linear infinite forwards;*/
  color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
}

.step-4 .icons .row span:nth-child(even),.step-3 .icons .row span:nth-child(even) { 
	animation-duration: 0.7s;
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}

.moon {
  position: absolute;
  top: 10%;
  right: 200px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #ddd;
  box-shadow: inset 20px -10px 0 0 #b9b9b9;
}
.moon .crater1 {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #bbb;
  box-shadow: inset -3px 1.5px 0 0 #aaa;
  top: 20px;
  right: 20px;
}
.moon .crater2 {
  position: absolute;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #bbb;
  box-shadow: inset -1px 0.5px 0 0 #aaa;
  top: 45px;
  right: 50px;
}
.moon .crater3 {
  position: absolute;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #bbb;
  box-shadow: inset -1.5px 0.75px 0 0 #aaa;
  top: 60px;
  right: 25px;
}

@media (min-width: 1000px) {
  .icons { left: 30px; }
  .icons .row span { font-size: 56px; }
  #people {
    left: 80px;
    bottom: 70px;
    width: 160px;
  }
  div#beach {
    background-size: 2000px;
  }
  div#video {
    right: 290px;
    bottom: 235px;
  }
  div#video iframe {
    width: 295px;
    height: 185px;
  }
  .moon {
    right: 230px;
  }
}
.fa-gift{
    font-size: 60px;
    cursor: pointer;
    color: #ffa3a3;
}
.fa-gift {
    width: 100px;
    height: 90px;
    background-color: #fff;
    border-radius:5px;
    box-shadow:0 10px 0 #c9d6e0, 0 12px 0 #aabbc8;
    position: absolute;
    margin:auto;
    bottom: -100px;
    left: 85px;
    &:after, &:before {
      content:'';
      position: absolute;
      width: 10px;
      height:101px;
      left: 50%;
      margin-left: -5px;
      background-color: #f3867f;
    }
    &:before{
      height: 100px;
      
      transform:rotate(90deg);
    }
    
  }
  .fa-gift i {
      width: 40px;
      height: 30px;
      border:10px solid #f3867f;
      position: absolute;
      top: 50%;
      margin-top: -23px;
      left: 50%;
      border-radius:100% 20px 20px 30%;
      box-shadow:0 3px 0 rgba(0,0,0,0.3);
    &:last-child{
      transform:rotateY(180deg);
      left: auto;
      right: 50%;
    }
  }
  
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
$button-width: 100px;
$button-height: 50px;
$wrap-width: 32%; 
$wrap-height: 18%;
$wrap-duration: 0.6s;
$bow-top: 47%;
$bow-left: 40%;
$easing: cubic-bezier(0.77, 0, 0.175, 1);

$ribbon-delay: $wrap-duration / 3;
$wrap-delay: $wrap-duration * 1.2;

$ribbon-color-foreground: #fed531;
$ribbon-color-background: #db8b22;

$card-width: 500px;
$card-height: 300px;

$color-primary: #cc199d;
$color-gray: #939393;

$footer-height: 5rem;

// html {
//   height: 100%;
//   width: 100%;
//   background: #ececec;
// }

// body {
//   height: 100%;
//   width: 100%;
//   margin: 0;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.route {
  display: none;
}

.giftcard {
  height: $card-height;
  width: $card-width;
  font-family: PT Sans, sans-serif;
  overflow: hidden;
  border-radius: 1.5rem/2rem;
  box-shadow: 8px 10px 16px rgba(0,0,0,0.1);
  transform: translateZ(0);
}

.giftcard-content, .giftcard-cover {
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - #{$footer-height});
  width: 100%;
}

.giftcard-cover {
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
  
  > .fa-apple {
    color: white;
    font-size: 6rem;
  }
}

.giftcard-content {
  padding: 1rem 2rem;
  color: $color-gray;
  z-index: 1;
  background: white;
  
  > * {
    transform: translateX(3rem);
    opacity: 0;    
  }
  
  h2 {
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  h3 {
    font-size: 1rem;
    margin: 0;
    font-weight: normal;
  }
  h2, h3 {
    color: #232323;
  }
  div { font-size: 1rem; }
  address {
    font-style: normal;
    margin-bottom: 1rem;
  }
  
  a, .subtext { color: $color-gray; }
  
  a {
    display: block;
    text-decoration: none;
  }
}

.giftcard-footer {
  position: absolute;
  bottom: 0;
  left: 0;
  height: $footer-height;
  width: 100%;
  background: #221E21;
  z-index: 3;
  transform: translateZ(0);
  
  > * {
    float: left;
  }
}

.giftcard-text, .giftcard-info {
  width: calc(100% - #{$button-width + $button-height});
  padding: 1rem;
}

.giftcard-text {
  height: 100%;
  padding: 1rem;
  
  > h1, > h2 {
    margin: 0;
    font-weight: normal;
    line-height: 1.1;
  }
  
  h1 {
    font-size: 1.5rem;
    color: #fff;
  }
  
  h2 {
    font-size: 1.2rem;
    color: $color-gray;    
  }
}

.giftcard-info {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  text-align: right;
  transform: translateX(100%);
  display: table;
  padding-left: 0;
  background: #221E21;
  
  > * {
    display: table-cell;
    
    &:first-child {
      padding-right: 1rem;
    }
  }
  
  input[type="text"] {
    height: $button-height;
    width: 90%;
    padding: 0 1rem;
    -webkit-appearance: none;
    background: transparent;
    border: 1px solid #dedede;
    position: relative;
    bottom: 7px;
    right: 0;
  }
}

@mixin giftwrap($dx, $dy, $outer: true) {
  $coords: (
    50% - $dx $dx,
    50% + $dx $dx,
    100% - $dy 50% - $dy,
    100% - $dy 50% + $dy,
    50% + $dx 100% - $dx,
    50% - $dx 100% - $dx,
    $dy 50% + $dy,
    $dy 50% - $dy
  );
  
  $bgcoords: (
    nth($coords, 1),
    50% 2 * $dx,
    nth($coords, 2),
    nth($coords, 3),
    100% - 2 * $dy 50%,
    nth($coords, 4),
    nth($coords, 5),
    50% 100% - 2 * $dx,
    nth($coords, 6),
    nth($coords, 7),
    2 * $dy 50%,
    nth($coords, 8),
    nth($coords, 7),
    nth($coords, 6),
    nth($coords, 5),
    nth($coords, 4),
    nth($coords, 3),
    nth($coords, 2),
    nth($coords, 1)
  );
  
  @if not $outer {
    clip-path: polygon(#{join($coords, (), comma)});
  } @else {
    clip-path: polygon(#{join($bgcoords, (), comma)});
  }
}
$width: 100px;
$height: 50px;

.button, input[type="text"] {
  border-radius: 3px;
}

.button {
  display: inline-block;
  width: auto;
  height: $height;
  line-height: 50px;
  text-align: center;
  background: orange;
  color: white;
  font-size: 1.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  text-decoration: none;
  
  &.secondary {
    background: #009cee;
  }
}

.giftwrap {
  width: $width + $height;
  height: $width + $height;
  
  .button {
    width: $width;
    top: calc(50% - #{$height / 2});
    left: calc(50% - #{$width / 2});
  }
  
  &:before, &:after {
    display: none;
    content: '';
    position: absolute;
    height: ($width + $height);
    width: ($width + $height);
    top: -50px;
    left: 3px;
  }
  
  &:before {
    @include giftwrap(0%, 0%);
    background: #fc1f33;
    z-index: 2;
  }
  
  &:after {
    @include giftwrap(0%, 0%, false);
    background: #bc0a13;
    z-index: -1;    
  }
}

.bow {
  $bow-size: 1.25rem;
  display: none;
  opacity: 0;
  position: absolute;
  top: calc(#{$bow-top} - #{$bow-size / 2});
  left: calc(#{$bow-left} - #{$bow-size / 2});
  height: $bow-size;
  width: $bow-size;
  /* background: $ribbon-color-foreground; */
  border-radius: 50%;
  z-index: 3;

  &:after {
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    left: 3px;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background: lighten($ribbon-color-foreground, 10%);
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    z-index: 2;
  }
  
  > .fa-bookmark {
    position: absolute;
    top: -50px;
    left: 7px;
    font-size: 1rem;
    color: $ribbon-color-foreground;
    text-shadow: 0 1px 1px rgba(0,0,0,0.2);
    z-index: 1;
    
    &:first-child { transform: translateX(-$bow-size / 2) scaleY(1.5) rotate(55deg); }
    &:last-child { transform: translateX($bow-size / 2) scaleY(1.5) rotate(-55deg); }    
  }
}

@mixin ribbon($dx, $dy, $outer: true) {
  $width: 10%;
  $hw: $width / 2;
  $left: $bow-left;
  $top: $bow-top;
  
  $bgcoords: (
    $left - $hw $dy,
    $left + $hw $dy,
    $left + $hw $top - $hw,
    100% - $dx $top - $hw,
    100% - $dx $top + $hw,
    $left + $hw $top + $hw,
    $left + $hw 100% - $dy,
    $left - $hw 100% - $dy,
    $left - $hw $top + $hw,
    $dx $top + $hw,
    $dx $top - $hw,
    $left - $hw $top - $hw
  );
  
  $dy-top-inner: ($dy / $top) * ($dy + 5%);
  $dy-bottom-inner: 100% - $dy - ($dy / $top) * (100% - $top - $dy + 5%);
  
  $dx-left-inner:  ($dx / $left) * (100% - $dx + 5%);
  $dx-right-inner: (1 - $dx / $left) * (100% - $dx);
  
  $coords: (
    $left - $hw $dy + $dy-top-inner,
    nth($bgcoords, 1),
    nth($bgcoords, 2),
    $left + $hw $dy + $dy-top-inner,
    
    $dx-right-inner $top - $hw,
    nth($bgcoords, 4),
    nth($bgcoords, 5),
    $dx-right-inner $top + $hw,
    
    $left + $hw $dy-bottom-inner,
    nth($bgcoords, 7),
    nth($bgcoords, 8),
    $left - $hw $dy-bottom-inner,
    
    $dx-left-inner $top + $hw,
    nth($bgcoords, 10),
    nth($bgcoords, 11),
    $dx-left-inner $top - $hw,
    
    $left - $hw $dy + $dy-top-inner,
    $dx-left-inner $top - $hw,
    $dx-left-inner $top + $hw,
    $left - $hw $dy-bottom-inner,
    $left + $hw $dy-bottom-inner,
    $dx-right-inner $top + $hw,
    $dx-right-inner $top - $hw,
    $left + $hw $dy + $dy-top-inner
  );
  
  @if not $outer {
    clip-path: polygon(#{join($bgcoords, (), comma)});
  } @else {
    clip-path: polygon(#{join($coords, (), comma)});
  }
}

.ribbon {
  width: $button-width + $button-height;
  height: $button-width + $button-height;
  position: absolute;
    right: 0;
    top: 10px;

  &:before, &:after {
    display: none;
    content: '';
    position: absolute;
    width: $width + $height;
    height: $width + $height;
    top: -50px;
    left: 3px;
  }
  
  &:before {
    @include ribbon(25%, 35%, false);
    background: $ribbon-color-background;
    z-index: -1;
  }
  
  &:after {
    @include ribbon(0%, 0%, true);
    background: $ribbon-color-foreground;
    z-index: 2;
  }
}

#buy:target ~ .giftcard {
  .giftwrap > .button {
    animation: button 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.65) forwards;
  }
  .giftwrap {
    &:before, &:after { display: block; }
    &:before { animation: wrap-before-2 $wrap-duration $easing both; }
    &:after { animation: wrap-after-2 $wrap-duration $easing both; } 
  }
  
  .bow {
    display: block;
    animation: bow 0.3s $wrap-duration * 1.2 cubic-bezier(0.175, 0.885, 0.32, 1.65) forwards;
  }
  
  .ribbon {
    &:before, &:after { display: block; }
    &:before { animation: ribbon-before $wrap-duration $ribbon-delay $easing both; }
    &:after { animation: ribbon-after $wrap-duration $ribbon-delay $easing both; } 
  }
  
  .giftcard-footer {
    animation: footer $wrap-duration $wrap-delay $easing both;
  }
  
  .giftcard-cover {
    animation: cover $wrap-duration $wrap-delay $easing both;
  }
  
  .giftcard-content {
    > * { animation: content $wrap-duration $wrap-delay $easing both; }
    
    @for $i from 1 through 3 {
      > *:nth-child(#{$i}) {
        animation-delay: $wrap-delay + ($i - 1) * 0.05s;
      }
    }
  }
}

@keyframes button {
  to { transform: scale(0.9); }
}

@keyframes content {
  to {
    transform: translateX(0);
    opacity: 1;    
  }
}

@keyframes cover {
  to {
    transform: translateY(calc(100% - 1px)) scaleX(0.95);
  }
}

@keyframes footer {
  to {
    transform: translateX(calc(-100% + #{$button-width + $button-height}));
  }
}

@keyframes wrap-before-2 {
  50% {
    @include giftwrap(0%, 0%);
  }
  100% {
    @include giftwrap($wrap-width, $wrap-height);
  }
}

@keyframes wrap-after-2 {
  0% {
    clip-path: polygon(50% 40%, 60% 50%, 50% 60%, 40% 50%);
  }
  49.999% {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  50% {
    @include giftwrap(0%, 0%, false);
  }
  100% { @include giftwrap($wrap-width, $wrap-height, false); }
}

@keyframes ribbon-before {
  0% { @include ribbon($wrap-height + 5%, $wrap-width + 5%, false); }  
  50% { @include ribbon(0%, 0%, false); }
  100% { @include ribbon($wrap-height, $wrap-width, false); }
}

@keyframes ribbon-after {
  0%, 50% { @include ribbon(0%, 0%, true); }
  100% { @include ribbon($wrap-height, $wrap-width, true); }
}

@keyframes bow {
  from { transform: scale(0.8); opacity: 1; }
  to { transform: scale(1); opacity: 1; }
}
.netflix-title{
     text-align: center;
  font-family: 'Roboto';
  font-size: 10vmin;
  font-weight: 700;
  outline: none;
  white-space: nowrap;
  color:#e90418;
  text-shadow: 1px 0 0 #000;
}