@import url(https://fonts.googleapis.com/css?family=Pacifico);
body{
  font-family: 'Pacifico', cursive;
  overflow: hidden;
  color: #fff;
}
.bgoverlay{
  background: rgb(103,58,183);
  background: rgba(103,58,183,0.7);
  position: absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}
.container{
  position: relative;
  margin: 120px auto 0 auto;
  width: 320px;
}


.ico{
  display: block;
  width: 320px;
  height: 320px;
}
.open .ico{
  animation: open 4s;
  transform: scale(10);
}
.ico .title{
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -95px;
  margin-top: -73px;
  line-height: 40px;
  z-index: 4;
  font-size: 60px;
  font-family: 'Pacifico', cursive;
  color: #fff;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.open .ico .title{
  opacity: 0;
  transition: all 0.3s ease;
  top:-100px;
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after{
  position: absolute;
  top:0;
  left:0;
}
.ico:before,
.ico:after,
.ico2:before,
.ico2:after{
  display: inline-block;
  font-size: 20em;
  content: "\f004";
  color: #ff4081;
  font-family: "Font Awesome 5 Free";
  /* text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}
.ico2:before,
.ico2:after{
  color: #e91e63;
}
.ico:before{
  z-index: 3;
}
.ico:after{
  animation: explode 4s infinite;
}


.ico2:before{
  animation: explodeSmall 3s infinite;
}
.ico2:after{
  animation: explodeSmall 2s infinite;
}


.endtext{
  opacity:0;
  position: absolute;
  top:-100px;
  width:100%;
}
.open .endtext{
  top:0;
  opacity: 1;
  animation: show 5s;
}
.endtext .close{
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.endtext h1,
.endtext h2,
.endtext h3{
  text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
  text-align: center;
  font-weight: normal;
}
.endtext h1{
  font-size: 50px;
}
.endtext h2{
  font-size: 30px;
}
.endtext h3{
  font-size: 20px;
}
.comment{
  font-size: 124px;
  position: absolute;
  top: -95px;
  transform: translateX(30%);
}
.comment-text{
  color: #fff;
  font-family: 'Pacifico', cursive;
  position: absolute;
  transform: translateX(-120%) translateY(140%);
  font-size: 28px;
}
.joke{
  display: none;
  position: absolute;
  top: -38%;
  left: -90%;
}
.block-center {
width: 0px;
height: 0px;
position: absolute;
left: 50%;
animation: hol 3s linear infinite  ;
}

.block-center div{
position: absolute;
width: 60px;
height: 72px;
border-radius: 0;
border-radius: 80% 60% 0 0;
transform: rotate(-60deg);
}
.block-center div:after{
content: "";
}

.block-center div:before{
content: "";
position: absolute;
height: 100%;
width: 100%;
background: inherit;
transform: rotate(118deg);
border-radius: 50% 80% 0 0;
left: 19%;
top: 30%;
}

.h{
position: absolute;
left: 50%;
width: 120px;
height: 120px;
margin-left: -60px;
z-index: 1;
margin-top: -60px;
animation: h 3s ease infinite alternate;
}
.h div:first-child{
width: 80%;
height: 100%;
transform: rotate(-47deg);
border-radius: 50px 38px 20px 0;
position: absolute;
background:#db3a65;
box-shadow: 10px 0 47px black inset
}
.h div:last-child{
width: 80%;
height: 100%;
background:#db3a65;
transform: rotate(48deg);
border-radius: 80px 118px 0 163px;
position: absolute;
top: 0;
right: 0;
box-shadow: -10px 0 47px black inset
}


@keyframes hol{
0%{
  top: 0px;
  overflow: hidden;
  transform: rotateX(0deg) 
}
50%{
 top: 0px;
 left: 50%;
 height: 0;
 width: 0;
 transform:  translateX(-50% )  
}
90%{
opacity:1
}
100%{
  top: -130px;
  width: 1000px;
  height: 500px;
  transform:  translateX(-50%);
opacity:0
}

}

@keyframes h{
0%{
  transform:scale(.5)
}
50%{
 transform:scale(1.5) 
}
100%{
 transform:scale(.5) 
}
}

@keyframes explode {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.6);
      opacity: 0;
    }
}
@keyframes explodeSmall {
    from {
      transform: scale(1);
      opacity: 1;
    }
    to {
      transform: scale(1.2);
      opacity: 0;
    }
}


@keyframes open {
    from {
      transform: scale(1);
    }
    to {
      transform: scale(10);
    }
}

@keyframes show {
    from {
      opacity: 0;
      top: -100px;
    }
    to {
      opacity: 1;
      top:0;
    }
}